---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  - serviceaccounts
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - identity.lapacek-labs.org
  resources:
  - identitysyncpolicies
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - identity.lapacek-labs.org
  resources:
  - identitysyncpolicies/finalizers
  verbs:
  - update
- apiGroups:
  - identity.lapacek-labs.org
  resources:
  - identitysyncpolicies/status
  verbs:
  - get
  - patch
  - update
